* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

label {
  display: none;
}

 /* section containers */

main {
  display: inline-block;
  margin: auto;
  min-width: 400px;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.main-sections {
  border: 0px;
  display: inline-block;
  height: 100%;
  width: 50%;
}

#form-container {
  background-color: #455A64;
  display: inline-block;
  left: 0px;
  margin: 0px auto;
  padding: 160px 0px;
  position: fixed;
  top: 0px;
/*  z-index: 1;*/
}

#list-container {
  background-color: #CFD8DC;
  display: inline-block;
  margin: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  right: 0px;
  text-align: center;
  top: 0px;
}

@media screen and (max-width: 800px) {
  .main-sections {
    width: 100%;
  }

  #form-container {
    padding: 5px 20px 20px 0px;
    position: relative;
  }
  #list-container {
    min-height: 75vh;
    position: relative;
  }
}
/* input section */

h1 {
  color: #FFFFFF;
  font-size: 45px;
  font-weight: 800;
  margin: 15px auto;
}

h1 img {
  width: 70px;
}

.list-inputs {
  display: block;
  height: 31px;
  font-size: 22px;
  margin: 40px auto;
  padding: 2px 10px;
  width: 310px;
}

#input-button {
  margin: auto;
  width:  334px;
  height:  32px;
  color: #FFFFFF;
  background-color: #FFC107;
  border: 0px;
  font-weight: 800;
  border-radius: 0;
}

#input-button:hover {
  background-color: #FFD773;
}

#input-button:disabled {
  background-color: #FFD773;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 30px;
  }
  h1 img {
    width: 44px;
  }
  .list-inputs {
    margin: 20px auto;
  }
}

/* bookmark section */

div {
  position: fixed;
  top: 0px;
  right: 20px;
  width: 70px;
  height: 120px;
  z-index: 1000;
}
header {
  position: relative;
  width: 70px
  height: 120px
  width: 100%;
  z-index: 1000;
}

header img {
  width: 70px;
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: .95;
}


header h3 {
  color: #FFFFFF;
  position: relative;
  font-size: 14px;
  top: 18px;
  margin: auto;
  z-index: 1;
}
header h2 {
  position: relative;
  color: #FFFFFF;
  font-size: 18px;
  margin: auto;
  top: 12px;
  z-index: 1;
}

/* link card section */

  
.link-card-container {
  background-color: #FFFFFF;
  border: 2px solid #607D8B;
  margin: 20px 15px;
  padding: 15px 15px 5px;
}

.link-card-container h2 {
  border-bottom: 2px solid #CFD8DC;
  color: #455A64;
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 10px;
  text-align: left;
}

.link-card-container p {
  border-bottom: 2px solid #CFD8DC;
  font-size: 18px;
  padding: 20px 0px;
  text-align: left;
}

.link-card-container p a {
  color: #607D8B;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
}

.link-card-container p a:hover {
  color: #445A64;
  font-weight: 800;
  text-decoration-color: #FFC107;
}

.link-card-container footer {
  height: 24px;
  position: relative;
  width: 100%;
}

.card-button {
  background-color: transparent;
  border: none;
  color: #607D8B;
  font-size: 12px;
  position: absolute;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
}

.card-button:hover {
  color: #445A64;
  font-weight: 800;
  text-decoration-color: #FFC107;
}

.link-card-read-button {
  bottom: 0px;
  left: 0px;
}

.link-card-delete-button {
  bottom: 0px;
  right: 0px;
}

/* interactive classes */

.read {
  background-color: #F2F4F4;
}

.read footer .link-card-read-button {
  color: #F05A28;
  font-weight: 800;
}


